html {
  box-sizing: border-box;
  line-height: 1.5;
  color: #222;
  font-size: 1rem;
  font-style: normal;
  font-family: "PT Serif", serif;
  background-color: #c9b5ab;
}

*, *::before, *::after {
  box-sizing: inherit;
}

img {
  width: 100%;
}

figcaption {
  font-style: italic;
}

.cycle {
  font-weight: bold;
  font-size: 1.125rem;
}

h1, nav, a, h2 {
  font-family: "PT Sans", sans-serif;
}

h1 {
  color: #3f1622;
  font-size: 1.5rem;
}

nav {
  color: #8f2440;
  font-weight: bold;
  font-size: 1.125rem;
}

nav ol {
  list-style-type: none;
  text-decoration: none;
}

a {
  color: #8f2440;
  text-decoration: none;
}

h2 {
  color: #3f1622;
  font-size: 1.5rem;
}

blockquote {
  font-size: 1.5rem;
  font-style: italic;
}

.varieties li {
  list-style-type: lower-greek;
}

.nutritional dt {
  font-weight: bold;
}

.serving {
  font-style: italic;
}

.tags {
  font-size: .8rem;
  list-style-type: circle;
}

strong {
  font-weight: normal;
}

a:hover {
  text-decoration: underline;
  color: #3f1622;
}
